*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #1A1A1A;
}
/* header */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 89px;
    background-color: #333;
    color: white;
    z-index: 100;
}
.logo{
    font-size: 35px;
    font-weight: bold;
}
.logo a{

}
.nav-center ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}
.nav-center ul li{
    position: relative;
}
.nav-center ul li a{
    display: block;
    transition: 0.25s ease;
}
.nav-center ul li a:hover{
    background-color: #555555;
    color: white;
}
.navbar a {
     color: white;
     margin: 0 10px;
     text-decoration: none;
    font-size: 20px;
 }
.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    padding: 10px 0;
    min-width: 150px;
    display: none !important;
    z-index: 1;
}

.sub-menu li a {
    padding: 10px 15px;
    white-space: nowrap;
    transition: 0.25s ease;
}
.sub-menu li a:hover{
    color: white;
    background-color: #555555;
}
.sub-menu li:first-child {
    border-bottom: 1px solid white;
}
.sub-menu li:hover {

}
.nav-center ul li:hover .sub-menu {
    display: block !important;
}
.nav-right {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-right i{
    cursor: pointer;
    margin: 0;
    padding: 0;
}



/* banner*/
.banner{
    position: relative;
    width: calc(100% - 200px);
    height: 400px;
    margin: 80px auto 0;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.banner-text {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
}
.banner-text button {
    background: #333;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
}
/* section*/
.products{
    color: white;
    padding: 40px;
    height: 550px;
}
h2{
    text-align: center;
    text-transform: uppercase;
}
.product-list{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.product-item  {
    position: relative;
    cursor: pointer;
    width: 300px;
}
.product-item img {
     width: 100%;
     height: auto;
     border-radius: 10px;
 }
.cart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    background-color:black;
    padding: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;

}


.product-item:hover .cart-icon {
    opacity: 1;
}
.product-name{
    font-size: 20px;
}
.product-price{
    margin: 20px 0;
}
.product-price .new-price{
    margin-right: 10px;
}
.product-price .old-price {
    text-decoration: line-through;
    opacity: 0.5;
}



/*Bo suu tap*/
.collection{
    background: #000;
    padding: 40px 0;
}

.collection-title{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
    color: white;
}

.collection-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;

}

.item{
    width: 620px;
    position: relative;
    height: 400px;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.item-title{
    position: absolute;
    top: 45%;
    left: 75%;
    color: #000000;
    font-size: 26px;
    font-weight: 700;
    z-index: 2;
    margin: 0;
}

.item-link{
    position: absolute;
    top: 55%;
    left: 75%;
    font-size: 14px;
    color: #000;
    z-index: 2;
}
/* footer */
.footer{
    width: 100%;
    background: #333333;
    color: white;
    padding: 40px 0;
    font-size: 14px;
    border-top: 1px solid #1A1A1A;
}
.footer-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-col{
    min-width: 200px;
}

.footer-col h3{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}


.footer-col ul li{
    margin: 6px 0;
    cursor: pointer;
    transition: 0.25s;
}

.footer-col p{
    margin: 6px, 0;
}

.footer-icons{
    display: flex;
    gap: 15px;
    font-size: 20px;
    margin-top: 10px;
}
.footer-icons i{
    cursor: pointer;
    transition: 0.25s;
}

.footer-col ul li:hover{
    color: #BFBFBF;
}

.footer-icons i:hover{
    color: #CCCCCC;
}


#scrollTopBtn {
    background-color: grey;
    position: fixed;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}
