body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #333;
    color: white;
}

.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.banner{
    position: relative;
    width: calc(100% - 40px);
    height: 350px;
    margin: 0 20px;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.banner-text {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
}
.products{
    color: white;
}
h2{
    text-align: center;
    text-transform: uppercase;
}
.product-list{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.product-item  {
    position: relative;
    cursor: pointer;
}
.cart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    background-color:black;
    padding: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;

}

.product-item img {
    width: 250px;
    height: auto;

}
.product-item:hover .cart-icon {
    opacity: 1;
}
.product-name{
    font-size: 20px;
}
.product-price{
    margin: 20px 0;
}
.product-price .new-price{
    margin-right: 10px;
}
.product-price .old-price {
    text-decoration: line-through;
    opacity: 0.5;
}