*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #1A1A1A;
}
/* header */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: #333;
    color: white;
    z-index: 100;
}
.navbar a {
     color: white;
     text-decoration: none;
 }
.logo{
   display: flex;
    align-items: center;
    font-weight: bold;
    flex: 1;
    font-size: 32px;
}
.logo a{
}
.nav-center {
    display: flex;
    justify-content: center;
    flex: 2;
}
.nav-center ul{
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
}
.nav-center ul li{
    position: relative;
    white-space: nowrap;
}
.nav-center ul li a{
    font-size: 20px;
    display: block;
    transition: 0.25s ease;
}
.nav-center ul li a:hover{
    background-color: #555555;
    color: white;
}

.nav-center ul .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #2a2a2a;
    padding-top: 10px;
    min-width: 150px;
    z-index: 1;
    white-space: nowrap;
    display: none;
    border: 1px solid white;
}

.sub-menu li a {
    padding: 10px 15px;
    transition: 0.25s ease;
    display: block;
}
.sub-menu li a:hover{
    color: white;
    background-color: #555555;
}
.sub-menu li:first-child {
    border-bottom: 1px solid white;
}

.nav-center ul li:hover .sub-menu {
    display: block;
}
.nav-right {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 10px;
}
.nav-right i{
    margin: 0;
    padding: 0;
}
.search-box {
    display: flex;
    align-items: center;
    position: relative;
}
.search-box input {
    padding: 5px 0;
    margin-left: 8px;
    border: none;
    background: none;
    border-bottom: 2px solid grey;
    color: white;
    outline: none;
    font-size: 16px;
}

/* banner*/
.banner{
    position: relative;
    width: 100%;
    height: 600px;
    padding: 0 50px;
    margin-top: 80px;
    box-sizing: border-box;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.banner-text {
    position: absolute;
    top: 40%;
    left: 10%;
    color: black;
    font-size: 25px;
}
.banner-text a {
    background: #333;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
}
/* section*/
.products{
    color: white;
    padding: 40px;
    height: auto;
    position: relative;
    max-width:1400px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}
h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.product-list{
    display: flex;
    /*justify-content: center;*/
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-bottom: 10px;

}
.scroll-left, .scroll-right {
    position: absolute;
    top: 42%;
    background-color: grey;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 0.25s ease;
}
.scroll-right:hover, .scroll-left:hover{
    background-color: white;
}
.scroll-left {
    left: 3px;
}

.scroll-right {
    right: 3px;
}

.product-list .product-item  {
    position: relative;
    cursor: pointer;
    width: calc((100% - 60px) / 4);
    flex-shrink: 0;
}


.product-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.3s ease;
 }
.product-item:hover img {
    transform: scale(1.02);
}

.cart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    background-color:black;
    padding: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;

}


.product-item:hover .cart-icon {
    opacity: 1;
}
.product-name {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 500;
    line-height: 1.4;
}

.product-price{
    margin: 20px 0;
}
.product-price .new-price{
    margin-right: 10px;
}
.product-price .old-price {
    text-decoration: line-through;
    opacity: 0.5;
}

.Special-deal{
    color: #ff0000;
    font-weight: bold;
    font-size: 16px;
    display: block;
}

/*Bo suu tap*/
.collection{
    padding: 40px;

    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.collection-title{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
    color: white;
}

.collection-box{
    display: flex;
    gap: 20px;
    box-sizing: border-box;

}

.item{
    width: 100%;
    position: relative;
    height: 400px;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.item-title{
    position: absolute;
    top: 45%;
    left: 5%;
    color: white;
    font-size: 26px;
    font-weight: 700;
    z-index: 2;
    margin: 0;
}

.item-link{
    position: absolute;
    top: 55%;
    left: 5%;
    font-size: 14px;
    color: white;
    z-index: 2;
}
/* footer */
.footer{
    width: 100%;
    background: #333333;
    color: white;
    padding: 12px 40px;
    font-size: 14px;
    border-top: 1px solid #1A1A1A;
}
.footer-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-col{
    min-width: 200px;
}

.footer-col h3{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}


.footer-col ul li{
    font-size: 16px;
    margin: 6px 0;
    cursor: pointer;
    transition: 0.25s;
}

.footer-col p{
    font-size: 16px;
    margin: 6px 0;
}

.footer-icons{
    display: flex;
    gap: 15px;
    font-size: 20px;
    margin-top: 10px;
}
.footer-icons i{
    cursor: pointer;
    transition: 0.25s;
}

.footer-col ul li:hover{
    color: #BFBFBF;
}

.footer-icons i:hover{
    color: #CCCCCC;
}


#scrollTopBtn {
    background-color: grey;
    position: fixed;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 0.5s ease;
}
#scrollTopBtn:hover {
    background-color: white;
}