*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #000;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    z-index: 1000;
}
.logo{
    display: flex;
    height: 100%;
    align-items: center;
}
.nav-center{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-right {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-right i{
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.menu{
    position: relative;
}
.menu:hover .sub-menu{
    display: block;
}
.sub-menu{
    position: absolute;
    display: none;

}

.banner{
    position: relative;
    width: calc(100% - 40px);
    height: 350px;
    margin: 0 20px;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.banner-text {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
}
.products{
    color: white;
}
h2{
    text-align: center;
    text-transform: uppercase;
}
.product-list{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.product-item  {
    position: relative;
    cursor: pointer;
}
.cart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    background-color:black;
    padding: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;

}

.product-item img {
    width: 250px;
    height: auto;

}
.product-item:hover .cart-icon {
    opacity: 1;
}
.product-name{
    font-size: 20px;
}
.product-price{
    margin: 20px 0;
}
.product-price .new-price{
    margin-right: 10px;
}
.product-price .old-price {
    text-decoration: line-through;
    opacity: 0.5;
}



/*Bo su tap*/
.collection{
    background: #000;
    padding: 40px 0;
}

.collection-title{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
    color: white;
}

.collection-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;

}

.item{
    width: 50%;
    position: relative;
    height: 300px;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: fill;
    display: block;
}

.item-title{
    position: absolute;
    top: 45%;
    left: 75%;
    color: #000000;
    font-size: 26px;
    font-weight: 700;
    z-index: 2;
    margin: 0;
}

.item-link{
    position: absolute;
    top: 55%;
    left: 75%;
    font-size: 14px;
    color: #000;
    z-index: 2;
}

.footer{
    width: 100%;
    background: black;
    color: white;
    padding: 40px 0;
    font-size: 14px;
    border-top: 1px solid #1A1A1A;
}
.footer-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-col{
    min-width: 200px;
}

.footer-col h3{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}


.footer-col ul li{
    margin: 6px 0;
    cursor: pointer;
    transition: 0.25s;
}

.footer-col p{
    margin: 6px, 0;
}

.footer-icons{
    display: flex;
    gap: 15px;
    font-size: 20px;
    margin-top: 10px;
}
.footer-icons i{
    cursor: pointer;
    transition: 0.25s;
}

.footer-col ul li:hover{
    color: #BFBFBF;
}

.footer-icons i:hover{
    color: #CCCCCC;
}


#scrollTopBtn {
    background-color: grey;
    position: fixed;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}
